/* Estilos principais */
.header-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    height: 3rem;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    flex-direction: row;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, input, button, span, p {
    font-family: 'Inter', sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
}

/* Links do cabeçalho */
.header-item {
    margin-right: 2rem;
}

.header-link {
    text-decoration: none;
    color: inherit;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    height: 2.5rem;
    width: 100%;
}

.header-icon {
    margin-right: 0.5rem;
}

.icon-img {
    width: 24px !important;
    height: 24px !important;
    aspect-ratio: 1 / 1 !important;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.header-text {
    font-size: 1rem;
    font-weight: 500;
    color: #FFF;
    margin: 0;
    letter-spacing: 0.00938em;
}
