<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto Federal do Acre — IFAC Instituto Federal do Acre</title>
    <!-- Favicon links -->
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicons/manifest.json') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicons/safari-pinned-tab.svg') }}" color="#00a300">

    <!-- Link para o arquivo CSS do Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Link para o arquivo de estilo personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Link para o Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap"
        rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Link para o FavIcon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>
    <div class="header-grid" data-section="pre-header" data-testid="pre-header-section">
        <div class="header-item">
            <a tabindex="0" href="https://www.gov.br/pt-br" target="_blank" data-testid="link-gov-br"
                class="header-link pic-gov">
            </a>
        </div>

        <div class="header-item">
            <a tabindex="0" href="https://www.gov.br/secom/pt-br/acesso-a-informacao/comunicabr" target="_blank"
                data-testid="link-comunicabr" class="header-link">
                <div class="header-content">
                    <p class="header-text">ComunicaBR</p>
                </div>
            </a>
        </div>

        <div class="header-item">
            <a tabindex="0" href="https://www.gov.br/acessoainformacao/pt-br" target="_blank"
                data-testid="link-telefone1" class="header-link">
                <div class="header-content">
                    <p class="header-text">Acesso à Informação</p>
                </div>
            </a>
        </div>

        <div class="header-item">
            <a tabindex="0" href="https://www.gov.br/pt-br/participacao-social/" target="_blank"
                data-testid="link-telefone2" class="header-link">
                <div class="header-content">
                    <p class="header-text">Participe</p>
                </div>
            </a>
        </div>

        <div class="header-item">
            <a tabindex="0" href="https://www4.planalto.gov.br/legislacao/" target="_blank"
                data-testid="link-legislacao" class="header-link">
                <div class="header-content">
                    <p class="header-text">Legislação</p>
                </div>
            </a>
        </div>

        <div class="header-item">
            <a tabindex="0" href="https://www.gov.br/pt-br/orgaos-do-governo" target="_blank"
                data-testid="link-area-aluno" class="header-link">
                <div class="header-content">
                    <p class="header-text">Órgão de Governo</p>
                </div>
            </a>
        </div>
    </div>

    <nav class="navbar">
        <div class="navbar-container">
            <a tabindex="0" href="" class="navbar-logo">
                <img src="{{ url_for('static', filename='img/logoifac.png') }}" alt="IFAC Logo" loading="lazy"
                    class="logo-img">
            </a>

            <div class="navbar-links">
                <a href="https://www.ifac.edu.br/transparencia-e-prestacao-de-contas/institucional"
                    class="navbar-link">IFAC</a>
                <a href="https://www.ifac.edu.br/processos-seletivos/" class="navbar-link">Processo Seletivo</a>
                <a href="https://www.ifac.edu.br/o-ifac/ensino/cursos/tipos-de-cursos" class="navbar-link">Cursos</a>
                <a href="https://www.ifac.edu.br/campi" class="navbar-link">Campi</a>
                <a href="https://www.ifac.edu.br/estudante" class="navbar-link">Estudante</a>
                <a href="https://www.ifac.edu.br/contato" class="navbar-link">Canais de Atendimento</a>
                <a href="https://repositorio.ifac.edu.br/jspui/" class="navbar-link">Repositório</a>
            </div>
        </div>
    </nav>

    <section class="banner-section">
        <img src="{{ url_for('static', filename='img/banner.png') }}" alt="Banner do IFAC" class="banner-img">
    </section>
    <section class="section-container">
        <div class="container">
            <div class="grid-row bottom-content">
                <div class="carousel-wrapper">
                    <div class="course-card">
                        <i class="fa fa-search"></i>
                        <h3>Processo Seletivo</h3>
                        <p>Encontre informações sobre os processos seletivos em andamento.</p>
                        <a href="https://www.ifac.edu.br/processos-seletivos/processos-seletivos">
                            <button class="button">Saiba Mais</button>
                        </a>
                    </div>
                    <div class="course-card">
                        <i class="fa fa-certificate"></i>
                        <h3>PROFEPT</h3>
                        <p>Acesse os detalhes do PROFEPT e saiba como participar.</p>
                        <a href="https://web.ifac.edu.br/profept/">
                            <button class="button">Saiba Mais</button>
                        </a>
                    </div>
                    <div class="course-card">
                        <i class="fa fa-trophy"></i>
                        <h3>Concurso Público</h3>
                        <p>Consulte os concursos públicos e suas datas de inscrição.</p>
                        <a href="https://www.idecan.org.br/index.html">
                            <button class="button">Saiba Mais</button>
                        </a>
                    </div>
                    <div class="course-card">
                        <i class="fa fa-file-alt"></i>
                        <h3>Editais</h3>
                        <p>Fique por dentro dos editais atualizados de todos os cursos.</p>
                        <a href="https://www.ifac.edu.br/editais/">
                            <button class="button">Saiba Mais</button>
                        </a>
                    </div>
                    <div class="course-card">
                        <i class="fa fa-bell"></i>
                        <h3>Boletins de Serviço</h3>
                        <p>Receba atualizações e novidades através dos boletins de serviço.</p>
                        <a href="https://www.ifac.edu.br/editais/boletim/lista/">
                            <button class="button">Saiba Mais</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="portal-footer">
        <div class="footer-wrapper">
            <!-- Coluna Redes Sociais -->
            <div class="footer-column social-column">
                <h3>Redes sociais</h3>
                <ul class="portal-redes">
                    <li class="portalredes-instagram portalredes-item">
                        <a href="https://www.instagram.com/ifacoficial" class="fab fa-instagram" title="Instagram"></a>
                    </li>
                    <li class="portalredes-facebook portalredes-item">
                        <a href="https://www.facebook.com/ifacoficial" class="fab fa-facebook" title="Facebook"></a>
                    </li>
                    <li class="portalredes-twitter portalredes-item">
                        <a href="https://www.twitter.com/ifacoficial" class="fab fa-twitter" title="Twitter"></a>
                    </li>
                    <li class="portalredes-youtube portalredes-item">
                        <a href="https://www.youtube.com/ifacoficial" class="fab fa-youtube" title="YouTube"></a>
                    </li>
                </ul>
            </div>
    
            <!-- Coluna Endereço -->
            <div class="footer-column address-column">
                <h3>Endereço</h3>
                <p>Instituto Federal de Educação, Ciência e Tecnologia - Acre (REITORIA)</p>
                <p>Via Chico Mendes, 3.084 - Bairro Areal. CEP: 69.906-302</p>
                <p>Horário de funcionamento: segunda a sexta, das 7h às 12h e das 14h às 17h</p>
                <p>E-mail: reitoria@ifac.edu.br. Telefone: (68) 2106-6834</p>
            </div>
    
            <!-- Coluna Menu -->
            <div class="footer-column menu-column">
                <ul class="rodape-navigation">
                    <li id="portaltab-o-ifac" class="plain">
                        <a href="https://www.ifac.edu.br/o-ifac" title="Acesse as páginas disponíveis no portal institucional do Ifac" class="plain">Portal Institucional</a>
                        <ul class="submenu">
                            <li><a href="https://www.ifac.edu.br/o-ifac/gestao-de-pessoas" title="Gestão de Pessoas">Gestão de Pessoas</a></li>
                            <li><a href="https://www.ifac.edu.br/o-ifac/administracao" title="Administração">Administração</a></li>
                            <li><a href="https://www.ifac.edu.br/o-ifac/assistencia-estudantil" title="Assistência Estudantil">Assistência Estudantil</a></li>
                            <li><a href="https://www.ifac.edu.br/o-ifac/ensino" title="Ensino">Ensino</a></li>
                            <li><a href="https://www.ifac.edu.br/o-ifac/extensao" title="Extensão">Extensão</a></li>
                            <li><a href="https://www.ifac.edu.br/o-ifac/pesquisa-inovacao-e-pos-graduacao" title="Pesquisa, Inovação e Pós-Graduação">Pesquisa, Inovação e Pós-Graduação</a></li>
                            <li><a href="https://www.ifac.edu.br/o-ifac/planejamento-e-desenvolvimento-institucional" title="Planejamento e Desenvolvimento Institucional">Planejamento e Desenvolvimento Institucional</a></li>
                            <li><a href="https://www.ifac.edu.br/o-ifac/internacionalizacao" title="Relações Internacionais">Relações Internacionais</a></li>
                            <li><a href="https://www.ifac.edu.br/o-ifac/tecnologia-da-informacao" title="Gestão de Tecnologia da Informação">Gestão de Tecnologia da Informação</a></li>
                            <li><a href="https://www.ifac.edu.br/o-ifac/comunicacao" title="Comunicação">Comunicação</a></li>
                            <li><a href="https://www.ifac.edu.br/o-ifac/editora-ifac" title="Editora IFAC">Editora IFAC</a></li>
                            <li><a href="https://www.ifac.edu.br/o-ifac/ouvidoria" title="Ouvidoria">Ouvidoria</a></li>
                        </ul>
                    </li>
                    <li id="portaltab-orgaos-colegiados" class="plain">
                        <a href="https://www.ifac.edu.br/orgaos-colegiados" title="Órgãos Colegiados" class="plain">Órgãos Colegiados</a>
                        <ul class="submenu">
                            <li><a href="https://www.ifac.edu.br/orgaos-colegiados/comissoes" title="Comissões">Comissões</a></li>
                            <li><a href="https://www.ifac.edu.br/orgaos-colegiados/conselhos" title="Conselhos">Conselhos</a></li>
                            <li><a href="https://www.ifac.edu.br/orgaos-colegiados/comites" title="Comitês">Comitês</a></li>
                        </ul>
                    </li>
                    <li id="portaltab-sei" class="plain">
                        <a href="https://www.ifac.edu.br/sei" title="SEI" class="plain">SEI</a>
                        <ul class="submenu">
                            <li><a href="https://www.ifac.edu.br/sei/sei-boletim-eletonico" title="SEI - Acesso Interno">SEI - Acesso Interno</a></li>
                            <li><a href="https://www.ifac.edu.br/sei/sei-acesso-externo" title="SEI - Acesso Externo">SEI - Acesso Externo</a></li>
                            <li><a href="https://www.ifac.edu.br/sei/sei-publicacoes-eletronicas-1" title="SEI - Publicações Eletrônicas">SEI - Publicações Eletrônicas</a></li>
                            <li><a href="https://www.ifac.edu.br/sei/sei-pesquisa-publica" title="SEI - Pesquisa Pública">SEI - Pesquisa Pública</a></li>
                        </ul>
                    </li>
                    <li id="portaltab-acesso-a-informacao" class="plain">
                        <a href="https://www.ifac.edu.br/acesso-a-informacao" title="Acesso a Informação" class="plain">Acesso a Informação</a>
                    </li>
                    <li id="portaltab-transparencia-e-prestacao-de-contas" class="plain">
                        <a href="https://www.ifac.edu.br/transparencia-e-prestacao-de-contas" title="Transparência e Prestação de Contas" class="plain">Transparência e Prestação de Contas</a>
                    </li>
                    <li id="portaltab-atendimento-virtual" class="plain">
                        <a href="https://www.ifac.edu.br/atendimento-virtual" title="Bibliotecas" class="plain">Bibliotecas</a>
                        <ul class="submenu">
                            <li><a href="https://www.ifac.edu.br/atendimento-virtual/biblioteca-virtual" title="Biblioteca Virtual">Biblioteca Virtual</a></li>
                            <li><a href="https://www.ifac.edu.br/atendimento-virtual/sigaa" title="Biblioteca SIGAA">Biblioteca SIGAA</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    
        <!-- Rodapé Brasil -->
        <div id="footer-brasil">
            <div id="wrapper-footer-brasil">
                <a class="logo-acesso-footer" href="http://www.gov.br/acessoainformacao/" alt="Acesso à informação"
                    title="Acesso à informação"></a>
                <a class="logo-governo-federal" href="http://www.brasil.gov.br/" alt="Governo Federal"
                    title="Governo Federal"></a>
            </div>
        </div>
    </footer>
    


</body>

</html>