<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto Federal do Acre — IFAC Instituto Federal do Acre</title>
    <!-- Favicon links -->
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicons/manifest.json') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicons/safari-pinned-tab.svg') }}" color="#00a300">

    <!-- Link para o arquivo CSS do Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Link para o arquivo de estilo personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="MuiGrid-root css-snuq3r" data-section="section_pre-header" data-testid="section_pre-header">
        <div class="css-1acepui"><a tabindex="0"
                href="https://api.whatsapp.com/send/?phone=5521983908414&amp;text=Ol%C3%A1%21+Preciso+de+atendimento+e+o+meu+protocolo+%C3%A9+1905271721.+%28por+favor%2C+%2An%C3%A3o+apague+ou+altere+esta+mensagem%2A+porque+ela+acompanhar%C3%A1+todo+o+seu+atendimento%29"
                target="_blank" data-testid="pre-header-item-0-link" data-element="link_whatsapp" class="css-pl4q48">
                <div class="MuiBox-root css-10d7bfp">
                    <div class="MuiBox-root css-wibx8s"><img
                            src="https://cdn.portal.estacio.br/icone_whatsapp_2911573d32_1_827c1b7686.svg"
                            alt="Whatsapp" width="24" height="24" loading="lazy" data-testid="pre-header-item-0-icon"
                            class="css-0"></div>
                    <p class="MuiTypography-root MuiTypography-body1 css-vr90xy">Inscreva-se via Whatsapp</p>
                </div>
            </a></div>
        <div class="css-1acepui"><a tabindex="0" href="https://estacio.br/fale-com-a-gente/atendimento" target="_blank"
                data-testid="pre-header-item-1-link" data-element="link_fale-com-a-gente" class="css-pl4q48">
                <div class="MuiBox-root css-10d7bfp">
                    <p class="MuiTypography-root MuiTypography-body1 css-vr90xy">Fale com a gente</p>
                </div>
            </a></div>
        <div class="css-1acepui"><a tabindex="0" href="tel:+5508008806767" target="_blank"
                data-testid="pre-header-item-2-link" data-element="link_telefone" class="css-pl4q48">
                <div class="MuiBox-root css-10d7bfp">
                    <div class="MuiBox-root css-wibx8s"><img
                            src="https://cdn.portal.estacio.br/icone_telefone_0800_a7292c9af1_1_8bcdf567ed.svg"
                            alt="telephone icon" width="24" height="24" loading="lazy"
                            data-testid="pre-header-item-2-icon" class="css-0"></div>
                    <p class="MuiTypography-root MuiTypography-body1 css-vr90xy">0800 880 6767</p>
                </div>
            </a></div>
        <div class="css-1acepui"><a tabindex="0" href="tel:+5540036767" target="_blank"
                data-testid="pre-header-item-3-link" data-element="link_telefone2" class="css-pl4q48">
                <div class="MuiBox-root css-10d7bfp">
                    <div class="MuiBox-root css-wibx8s"><img
                            src="https://cdn.portal.estacio.br/icone_telefone_0800_a7292c9af1_1_8bcdf567ed.svg"
                            alt="telephone_icon" width="24" height="24" loading="lazy"
                            data-testid="pre-header-item-3-icon" class="css-0"></div>
                    <p class="MuiTypography-root MuiTypography-body1 css-vr90xy">4003 6767</p>
                </div>
            </a></div>
        <div class="css-1acepui"><a tabindex="0" href="https://candidatos.portal.estacio.br/acompanhe-sua-matricula"
                target="_blank" data-testid="pre-header-item-4-link" data-element="link_acompanhe-sua-matricula"
                class="css-pl4q48">
                <div class="MuiBox-root css-10d7bfp">
                    <p class="MuiTypography-root MuiTypography-body1 css-vr90xy">Acompanhe sua matrícula</p>
                </div>
            </a></div>
        <div class="css-1acepui"><a tabindex="0" href="https://estudante.estacio.br/login" target="_blank"
                data-testid="pre-header-item-5-link" data-element="link_area-do-aluno" class="css-pl4q48">
                <div class="MuiBox-root css-10d7bfp">
                    <p class="MuiTypography-root MuiTypography-body1 css-vr90xy">Área do Aluno</p>
                </div>
            </a></div>
    </div>

</body>

</html>